#part2{
    margin: 50px 0 0 100px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

input {
    padding: 10px 20px;
    font-size: 1.2rem;
    width: 30%;
}

button {
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

#results, #results2 {
    font-size: 1.5rem;
}

button {
    display: block;
    margin-top: 15px;
}