ul {
    display: flex;
    margin: 50px 0 50px 100px;
    padding-left: 0;
}
li {
    list-style: none;
    margin-right: 50px;
    background-color: cadetblue;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

li.active {
    background-color: rgb(29, 90, 92);
}